body{
	 background-image:url("backdrop.svg");
	 background-size:;
	 margin:0px;
	 color:rgba(0,0,0);
	 
}
div.heading {
	background-color: rgba(255,255,255,0.8);
	height: 100px;
	width: 100%;
	text-align: right;
	font-family: 'Lobster' , Cursive;
	font-size:60px;
	color:rgba(0,0,0);
	padding-top:30px;
	position:fixed;
	top:0 ;
	z-index:1;
}

svg.logo {
	position:fixed;
	z-index:2;
	left:0;
	right:0;
	margin:auto;
	top:10px;
}
svg.icon{
	z-index:2;
	position:relative;
	right:11%;
	margin-right:7px;
}
a.icon{
	text-decoration:none;
}
div.content{
	z-index:0;
	width:80%;
	min-width:50em;
	min-height:100%;
	position:absolute;
	left:0;
	right:0;	
	margin:auto;
	background-color:rgba(248,248,248,0.94);
}
div.section{
	background-color: #ECECEC;
	height:60px;
	width:100%;
	font-family: Sans-Serif;
	font-style: italic;
	font-size: 1em;
	padding:10px 0px 0px 0px;
	margin-top:20px;
	cursor:pointer;
}
span.title {
	font-style: normal;
	font-family: 'Futura', Sans-Serif;
	font-size: 2em;
	margin:0px 20px 0px 50px;
}
div.subsection{
	background-color: #ECECEC;
	height: auto;
	padding:10px 0px 10px 0px;
	width:100%;
	font-family: Sans-Serif;
	font-size: 1em;
	font-style: normal;

}
.gist{
	width: 70%;
	margin: auto;
}

p.subtext{
	margin-right:100px;
	margin-left:50px;

}